{% extends 'base.html' %}

{% block content %}
<section class="py-5">
  <div class="container">
    <h2 class="fw-bold text-success">About Us</h2>
    <p>
      The Nigerian Society of Chemical Engineers (NSChE) FUTMINNA Student Chapter 
      is a community of passionate chemical engineering students dedicated to 
      learning, innovation, and professional development.
    </p>
    <p>
      Our chapter provides opportunities for students to grow academically, 
      professionally, and socially through events, mentorship, and collaboration.
    </p>
  </div>

  <div class="mt-4 p-3 bg-dark text-white rounded shadow-sm">
          <h5 class="fw-bold">📺 Join Reactors TV</h5>
          <p class="mb-2">Stay updated with our latest sessions, interviews, and student stories.</p>
          <a href="https://t.me/reactorstv" target="_blank" class="btn btn-success btn-sm">Join Now</a>
        </div>
      </div>

  
</section>
{% endblock %}
