{% extends 'base.html' %}

{% block content %}
<section class="py-5">
  <div class="container">
    <h2 class="fw-bold text-success">Student Resources</h2>
    <p>Here you’ll find academic materials, past questions, notes, and guides to support your learning.</p>
    <ul>
      <li>Lecture Notes</li>
      <li>Past Exam Papers</li>
      <li>Research Guides</li>
      <li>Useful Links</li>
    </ul>
    <br>
    <strong>Join our Telegram group for the resources and discussions.</strong> <br> <br>
    <button class="btn btn-success mb-4" onclick="window.location.href='https://t.me/+5nWJa4-Ka4A5YzM8'">
      📲 Click Me to Join Our Telegram Group
    </button>
  </div>
</section>
{% endblock %}
